@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.offices{
   margin-top: 3rem;
   
    .icon{
    
    margin-bottom: 1rem;
    width: 110px; 
    height: 110px; 
    background-color: v.$color2-op-30;
    border-radius: 50%; 
    text-align: center;
    padding: 20px; 
    margin-left: 4rem;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }

}