@use "../../styles/variables" as v;

.section{
    display: flex;
    flex-direction: column;
        
    gap: 1rem;
    padding: 2rem 0 0.5rem 1rem;
   

    
    .section-type{
        color: v.$color1;
        margin:-1.5rem 0 0.5rem 0;
    }
}
